$basis: 3;
$font-basis: $basis * 2;

$font-2xs: $font-basis * 1.5;
$font-xs: $font-basis * 2;
$font-sm: $font-basis * 2.5;
$font-md: $font-basis * 3;
$font-lg: $font-basis * 4;
$font-xl: $font-basis * 5;
$font-2xl: $font-basis * 6;
$font-3xl: $font-basis * 7;
$font-4xl: $font-basis * 8;
$font-5xl: $font-basis * 9;
