#layout {
	color-scheme: var(--scheme);
	background-color: var(--skin-10);
	color: var(--skin-80);

	#layoutHeader {
		background-color: var(--skin-10);
		border-bottom: 1px solid var(--border-18);
	}

	::selection {
		$hue: map-get($hue-map, primary);

		background: hsl($hue, 100%, 45%);
		color: white;
	}

	a {
		color: #{primary(64)};

		&:visited {
			color: #{secondary(66)};
		}
	}

	ion-icon {
		visibility: visible !important;
	}
}
