.page-login,
.page-register,
.page-change-password,
.page-confirm-account {
	#form,
	#processing {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.form {
		width: 100%;
		max-width: to-rem(324);
		margin: 0 auto;
	}
}
